body{
    background-color: white;
}
.name{
    text-align: center;
}
.header{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: baseline;
}
img{
    height: 15px;
    width: 15px;
}
.telephone{
    text-align: center;
}
.github{
    display: inline-block;
    gap: 5px;
}
hr{
    height: 1.5px;

    background-color: black;
    margin: 0;
    border: 0;

}
h2{
    margin-bottom: 1px;
}